.Root-Container {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.Root-Title.Root-Title {
  margin-bottom: .5rem;
}

.Header-divider {
  margin-bottom: 1rem;
}

.Link-Active p {
  font-weight: bold;
}